{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "files": ["*/src/**/*.ts", "*/src/**/*.tsx"]
    }
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "no-var": "warn",
    "max-len": ["warn", { "code": 120 }],
    "no-eval": "error",
    "eqeqeq": ["warn", "smart"],
    "no-return-await": "warn",
    "comma-dangle": ["warn", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "eol-last": ["warn", "always"],
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}