{
  "extends": ["react-app", "react-app/jest", "plugin:react-hooks/recommended"],
  "overrides": [
    {
      "files": ["*/src/**/*.ts", "*/src/**/*.tsx"]
    }
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "no-var": "warn",
    "max-len": ["warn", { "code": 120 }],
    "no-eval": "error",
    "object-property-newline": ["warn", { "allowAllPropertiesOnSameLine": true }],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "multiline": true, "minProperties": 4, "consistent": true },
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": { "multiline": true },
        "ExportDeclaration": { "multiline": true }
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "eqeqeq": ["warn", "smart"],
    "no-return-await": "warn",
    "no-implicit-coercion": "error",
    "comma-dangle": ["warn", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "only-multiline"
    }],
    "eol-last": ["warn", "always"],
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
