{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "files": ["*/src/**/*.ts", "*/src/**/*.tsx"]
    }
  ],
  "rules": {
    "no-var": "warn",
    "max-len": ["warn", { "code": 120 }],
    "no-eval": "error",
    "no-implied-eval": "error",
    "eqeqeq": ["warn", "smart"],
    "no-alert": "error",
    "no-extra-semi": "error",
    "no-shadow-restricted-names": "error",
    "no-warning-comments": ["warn", { "terms": ["todo", "fixme", "xxx"], "location": "start" }]
  },
  "ignorePatterns": ["lib/"]
}
